@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --clr-orange: hsl(26, 100%, 55%);
  --clr-pale-orange: hsl(25, 100%, 94%);
  --clr-very-dark-blue: hsl(220, 13%, 13%);
  --clr-dark-greyish-blue: hsl(219, 9%, 45%);
  --clr-greyish-blue: hsl(220, 14%, 75%);
  --clr-light-greyish-blue: hsl(223, 64%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --fs-lg: 1.7rem;
  --fs-default: 1rem;
  --fs-sm: 0.85rem;
  --ff-primary: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-primary);
  font-size: var(--fs-default);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul,
ol,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  overflow-wrap: break-word;
  font-weight: normal;
}

.navbar {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.col-1,
.col-2 {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.col-1 .menu-btn {
  display: block;
  cursor: pointer;
  z-index: 6;
}
.col-1 .nav-links {
  position: fixed;
  transform: translate(-100%);
  background-color: var(--clr-white);
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  display: flex;
  font-weight: 700;
  padding: 5.5rem 1.5rem;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.5s;
}
.col-1 .nav-links .close-btn {
  width: 16px;
  position: absolute;
  top: 5%;
  bottom: 0;
}

.col-2 .cart-img-nav {
  cursor: pointer;
  filter: invert(48%) sepia(2%) saturate(2467%) hue-rotate(181deg) brightness(89%) contrast(83%);
  transition: 0.4s;
}
.col-2 .cart-img-nav:hover {
  filter: unset;
}
.col-2 .avatar-img {
  width: 35px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 2rem;
  border: 2px solid var(--clr-white);
  transition: 1s ease-in-out;
}
.col-2 .avatar-img:hover {
  width: 38px;
  transform: rotate(360deg);
  border: 2px solid var(--clr-orange);
}

.dark-bkg {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-black);
  opacity: 0%;
  z-index: 5;
}

@media screen and (min-width: 48em) {
  .navbar {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--clr-light-greyish-blue);
  }
  .col-1 {
    gap: 3rem;
  }
  .col-1 .menu-btn {
    display: none;
  }
  .col-1 .nav-links {
    position: unset;
    transform: unset;
    flex-direction: row;
    font-weight: unset;
    box-shadow: unset;
    padding: unset;
    box-shadow: unset;
  }
  .col-1 .nav-links li {
    border-bottom: 3px solid var(--clr-white);
  }
  .col-1 .nav-links li:hover {
    font-weight: 700;
    border-bottom: 3px solid var(--clr-orange);
  }
  .col-1 .nav-links .close-btn {
    display: none;
  }
  .dark-bkg {
    display: none;
  }
}
.hero {
  width: 100%;
  max-width: 48em;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

@media screen and (min-width: 37.5em) {
  .hero {
    flex-direction: row;
    gap: 4rem;
    padding: 2rem 1rem;
  }
}
.display {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.row-1__display {
  position: relative;
}
.row-1__display .product-image {
  cursor: pointer;
  width: 100%;
}
.row-1__display .previous-btn,
.row-1__display .next-btn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-color: var(--clr-white);
  padding: 0.7rem;
  border-radius: 5rem;
  transition: 0.3s ease-in-out;
}
.row-1__display .previous-btn:hover,
.row-1__display .next-btn:hover {
  width: 40px;
  height: 40px;
  box-shadow: var(--clr-orange) 0px 5px 35px;
}
.row-1__display .previous-btn {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.row-1__display .next-btn {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.thumbnails {
  display: none;
}

@media screen and (min-width: 37.5em) {
  .display {
    gap: 1.5rem;
  }
  .row-1__display .product-image {
    border-radius: 1rem;
  }
  .row-1__display .previous-btn,
  .row-1__display .next-btn {
    display: none;
  }
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
  }
  .thumbnails .thumbnail {
    cursor: pointer;
    border-radius: 0.7rem;
    transition: 0.2s ease-in-out;
  }
  .thumbnails .thumbnail:hover {
    opacity: 50%;
  }
}
.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  gap: 1rem 1.5rem;
}
.info .product-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.info .product-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .product-amount .current {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info .product-cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 37.5em) {
  .info .product-cart {
    display: grid;
    grid-template-columns: 35% 60%;
    flex-direction: row;
    gap: 1rem;
  }
}
.info h1 {
  font-size: var(--fs-lg);
  font-weight: 700;
}
.info h4 {
  font-size: var(--fs-md);
  color: var(--clr-orange);
  font-weight: 700;
}
.info p {
  font-size: var(--fs-sm);
  color: var(--clr-dark-greyish-blue);
}

.discount {
  background-color: var(--clr-pale-orange);
  padding: 0 0.4rem;
  border-radius: 0.4rem;
}

.previous-price {
  font-size: var(--fs-sm);
  color: var(--clr-greyish-blue);
  font-weight: 700;
}

.input-container {
  position: relative;
}
.input-container .cart-input {
  width: 100%;
  background-color: var(--clr-light-greyish-blue);
  border: none;
  text-align: center;
  padding: 0.7rem;
  color: var(--clr-black);
  font-weight: 700;
  border-radius: 0.7rem;
}
.input-container .cart-input::placeholder {
  color: var(--clr-black);
}
.input-container .minus {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 10%;
  padding: 0.7rem;
  transform: translate(-50%, -50%);
}
.input-container .plus {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 90%;
  padding: 0.7rem;
  transform: translate(-50%, -50%);
}

.cart-btn {
  cursor: pointer;
  display: flex;
  background-color: var(--clr-orange);
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
  font-size: var(--fs-sm);
  font-weight: 700;
  padding: 0.7rem;
  border-radius: 0.7rem;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.3s;
}
.cart-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
}
.cart-btn:hover .cart-img-btn {
  filter: invert(73%) sepia(85%) saturate(4424%) hue-rotate(348deg) brightness(102%) contrast(101%);
}
.cart-btn .cart-img-btn {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(256deg) brightness(101%) contrast(102%);
}

@media screen and (min-width: 37.5em) {
  .input-container .minus {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  .input-container .plus {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
}
.active-bkg {
  display: block;
  opacity: 75%;
}

@media screen and (min-width: 48em) {
  .active-bkg {
    display: none;
  }
}